@model ProductEditVM

@{
    Layout = "_MyLayOut";

}

<div class="row">
    <div class="col-md-4">
        <form asp-area="Admin" asp-controller="Product" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImgUrl" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea id="mytextarea" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgFile" class="control-label"></label>
                <input type="file" asp-for="ImgFile" id="imgfile" class="form-control" onchange="fillimg(event)" />
                <span asp-validation-for="ImgFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" id="categoryFilter">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="container" >
            <img id="ImagePrevew" src="@Model.ImgUrl" width="300" height="300"/>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-sm">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>

    <script>
        var defaultImg = "@Model.ImgUrl"; 

        function fillimg(event) {
            var imgholder = document.getElementById("ImagePrevew");

            if (event.target.files && event.target.files.length > 0) {
                
                imgholder.src = URL.createObjectURL(event.target.files[0]);
            } else {
                imgholder.src = defaultImg;
            }
        }
    </script>

    <script src="~/js/Edit.js"></script>
}